* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: lightgray;
    border-radius: 5px;
}



.nav {
    margin-top: 10px;
}

    .nav a {
        padding: 10px 15px;
        text-align: left;

        color: #34495e;
        font-size: .99em;
    }

        /* Pseudo-class selector */
        .nav a:hover {
            background-color: #7ebeb6;
            color: #092747;
        }

/*  Applies when the browser's width is 800px wide or wider:  */

@media (min-width: 800px) {
    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }
}

/*  Applies when the browser's width is 1000px wide or wider:  */

@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

/*  CSS for footer  */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
}

/* CSS for index */
body{
    background-color: #646174;
 }
.contentfield{
    background-color: white;
    width:60%;
    height: auto;
    margin: 0 auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7em;
}
.container{
    margin-top:7%;
    width:inherit;
    border:1px solid gray;
    box-shadow: 5px 5px 20px #888888;
    border-radius: 5px;
}

.box-image{
    background-color: gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    max-height: 20em;
 }

/*  CSS for Login  */
.center{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #646174;
    background-color: lightgray;
    border-radius: 5px;
}

#login{
    color:blue;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
    line-height: 2;
}

#login:hover{
    background-color: #7ebeb6;
    color: #092747;

}

input[type=email],input[type=password] {
    padding: 5px;
    display: grid;
    border: 5px solid #ccc;
    box-sizing: border-box;

}

button[type=submit]{

    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 15px;
    margin: 4px 4px;
    border-radius: 15px;
    cursor: pointer;
}