* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid black;
    background-color: #BED6B8;
    border-radius: 5px;
}



.nav {
    margin-top: 10px;
}

    .nav a {
        padding: 10px 15px;
        text-align: left;

        color: #34495e;
        font-size: .99em;
    }

        /* Pseudo-class selector */
        .nav a:hover {
            background-color: #7ebeb6;
            color: #092747;
        }

/*  Applies when the browser's width is 600px wide or wider:  */

@media (min-width: 600px) {
    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .contentfield{
        width:60%;
    }

    .container{
        width:inherit;
    }

}

/*  Applies when the browser's width is 1000px wide or wider:  */

@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .contentfield{
        display:flex;
        width:60%;
        height: auto;
    }
}

/*  CSS for footer  */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #BED6B8;
    text-align: center;
    border-radius: 5px;
}

/* CSS for index */
body{
    background-color: #DDFACD;
 }
.contentfield{
    background-color: #B1CDA4;
    border: 1px solid black;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7em;
}
.container{
    background-color: white;
    margin-top:7%;
    width: inherit;
    min-width: 300px;
    border:1px solid gray;
    box-shadow: 5px 5px 20px #888888;
    border-radius: 5px;
}

.logo{
    width: 3em;
    margin-right: 15px;
}

.profile{
    margin-left: 10px;
    margin-top: 10px;
}

.like-button{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 3em;
}

.comment{
    margin-top: 20px;
    margin-left: 10px;
}

.box-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    max-height: 20em;
    max-width: 100%;
 }

/*  CSS for Login  */
.center{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #646174;
    background-color: lightgray;
    border-radius: 5px;
}

#login{
    color:blue;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
    line-height: 2;
}

#login:hover{
    background-color: #7ebeb6;
    color: #092747;

}

input[type=email],input[type=password] {
    padding: 5px;
    display: grid;
    border: 5px solid #ccc;
    box-sizing: border-box;

}

button[type=submit]{

    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 15px;
    margin: 4px 4px;
    border-radius: 15px;
    cursor: pointer;
}

bold p{
    font-weight: bold;
}

bold2 > p{
    font-weight: bold;
}

div + .footer{
    font-weight: bold;
}

form ~ p {
    color:blue;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
    line-height: 2;
  }

  form ~ p:hover{
    background-color: #7ebeb6;
    color: #092747;

}